{% extends "base.html" %}

{% block pageTitle %}Logged Out{% endblock %}

{% block extrahead %}
<script type="text/javascript">
updateCallbackQueue.push(function(div) {
    setTimeout(function() {
        var qString = location.href.replace(/^(.+\?)|(.+)/, '');
        if (qString == '') { qString = 'manual'; }
        var newURL = '/accounts/login/?' + qString;
        window.location = newURL;
    }, 1000);
});
</script>
{% endblock %}

{% block main_content %}
    <p>You have been logged out.</p>
{% endblock %}
