{% extends "base.html" %}

{% block pageTitle %}Forgot Your Password{% endblock %}

{% block main_content %}
<div class="message info">
    {% if request.session.lp_step == 0 %}
        <p>To reset your password please provide the email account used to access this site.</p>
        <p>If you don't use your email address to login, you can provide your username, and then fill out the next form.</p>
    {% else %}
        <p>To reset your password, please fill out the form below.</p>
    {% endif %}
</div>

<form action="" method="post" class="form has-validation">{% csrf_token %}
	{{ form.as_p }}
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

