{% load genesis_tools %}
<script type="text/javascript">
updateCallbackQueue.push(function(div) {
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var search = '?' + window.location.hash.replace(/^.+?\?/, '');
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(search);
        if(results == null)
            return "";
        else
            return decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var days = parseInt(getParameterByName('days')) || 7;
    $('.datePicker').val(days);
    $('.datePicker').change(function(e) {
        var days = $(this).val();
        if (days === '') { return; }
        window.location = "{% get_dashboard_url accounts:watch-list %}?days=" + days;    
    });
});
</script>
