<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lib/datatables/css/myghrpad.css" />
<script type="text/javascript" src="{{ STATIC_URL }}lib/datatables/js/jquery.dataTables.js"></script> 
<script type="text/javascript">
updateCallbackQueue.push(function() {
    $('.accordion > header').click(function() {
        $(this).next('section:first').toggle();
    });
});
</script>
<h1 class="page-title">{{ flatpage.title }}</h1>
<div class="container_12 clearfix leading">
    {{ flatpage.content }}</td></tr> 
</div>