{% if items %}
<p>
    {% for item in items %}
    {% if item.is_button %}
    <a href="{{ item.link }}" class="btnRight sbm sbm_red{% if item.button_class %} {{ item.button_class }}{% endif %}"{% if item.button_id %} id="{{ item.button_id }}"{% endif %}><i class="icon-plus"></i>{{ item.name }}</a>
    {% endif %}
    {% if item.is_raw %}
    {{ item.content|safe }}
    {% endif %}
    {% if item.is_radio %}
    <div class="togglecontainer">
      <form>
        <div id="devicestateradio">
          {% for option in item.options %}
          <input type="radio" class="noUniform" id="filter-{{ option.value }}" name="radio" /><label for="filter-{{ option.value }}">{{ option.display }}</label>
          {% endfor %}
        </div>
      </form>
    </div>
    {% endif %}
    {% if item.is_dropdown %}
    <div class="batchDropdown">
        <select class="dropdownAction" id="dda_{{ forloop.counter }}">
            {% for option in item.options %}
            <option value="{{ option.value }}"{% if option.no_redirect %} redirect="false"{% endif %}{% if option.direct_link %} direct_link="true"{% endif %}>{{ option.display }}</option>
            {% endfor %}
        </select><input type="submit" for="dda_{{ forloop.counter }}" value="Apply to Selected" class="dropdownSubmitter" />
    </div>
    {% endif %}
    {% if item.is_query %}
    <div class="queryDropdown">
        <select class="queryDropdownAction" id="queryDropdown_{{ forloop.counter }}">
            <option value="recent_reading_count">Patients with fewer than X readings</option>
            <option value="high_reading_count">Patients with more than X high readings</option>
            <option value="low_reading_count">Patients with more than X low readings</option>
        </select>
        <div for="recent_reading_count" style="display:none">
            Fewer than <input id="recent_reading_reading_count" size="3" /> readings in the past <input id="recent_reading_for_days" size="3" /> days
        </div>
        <div for="high_reading_count" style="display:none">
            More than <input id="high_reading_reading_count" size="3" /> readings over <input id="high_reading_glucose_value" size="3" /> in the past <input id="high_reading_for_days" size="3" /> days
        </div>
        <div for="low_reading_count" style="display:none">
            More than <input id="low_reading_reading_count" size="3" /> readings under <input id="low_reading_glucose_value" size="3" /> in the past <input id="low_reading_for_days" size="3" /> days
        </div>
        <input type="submit" for="queryDropdown_{{ forloop.counter }}" value="Run Query" class="queryDropdownSubmitter" />
    </div>
    {% endif %}
    {% endfor %}
</p>
{% endif %}
