<script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".tutorialPic").fancybox();
	});
</script>
<style type="text/css">
	.tutorialPic {margin-right:5px;margin-bottom:5px;}
	.tutorialPic img {border: 2px solid #999;}
</style>



<h1 class="page-title">MyGHR Tutorial</h1>
<div class="container_12 clearfix leading">
<div class="clear"></div>
                    
<div class="message info">
	<h3>MyGHR Patient Account</h3>
		<p>The MyGHR Patient Account is designed to help you, the patient, better manage your diabetes.</p>
</div>
                
<section class="tabs grid_12 leading">
	<ul class="clearfix">
       	<li><a href="#">Creating Your Account</a></li>
        <li><a href="#">Resetting Your Account</a></li>
    </ul>

   	<section>
       	<section class="clearfix">
            <header class="grid_12 alpha omega">
            <h2>Setting up your MyGHR Patient Account:</h2>
            </header>
            <div style="width:100%">
            	<h4>There are two ways a patient can set up a personal MyGHR Patient Account.</h4>
                	<ol>
                    	<li>Go the pharmacy that distributed your GHT meter. They can activate your meter and set up your MyGHR account.</li>
                        <li>Call Genesis Health Technologies at (888) 263-0003. GHT can activate your meter and set up your MyGHR Patient Account over the phone.</li></ol>

            </div>
       </section>
           
       <section class="clearfix">
	       <header class="grid_12 alpha omega">
           <h2>Resetting Usernames and Passwords:</h2>
           </header>
           <div style="width:100%">
    	       <h4>There are three ways to reset your username and/or password:</h4>
                    <ol>
                        <li>Go to <a href="http://www.genesishealthtechnologies.com" target="_blank">www.genesishealthtechnologies.com</a> and click on the MyGHR Login. You will see the "Lost Password?" option, which will walk you through the steps necessary to reset your password.</li>
                        <li>Call Genesis Health Technologies at (888) 263-0003.</li>
                        <li>Once you have logged into your MyGHR patient account, you can also change your username and password under the My Account section. Click on the Login Info tab.</li>
                   </ol>
            </div>
       </section>
   </section>
</section>
                    
</div>
<div class="container_12 clearfix leading">
<div class="accordion">
  <header>
    	<h2>Logging in to your MyGHR Patient Account</h2>
  </header>
  <section class="clearfix">
  	<p>To log in to your MyGHR Patient Account, go to www.genesishealthtechnologies.com and click on the MyGHR Login button located at the on the top right corner of the page. Once redirected to the login page, enter your personal Username and Password and click the Login button.</p>
    <ul id="tutorial1" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/logging-in.jpg"><img src="/static/images/tutorial/logging-in-thumb.jpg" /></a></li>
                <li><a class="tutorialPic" href="/static/images/tutorial/logging-in-2.jpg"><img src="/static/images/tutorial/logging-in-2-thumb.jpg" /></a></li>
    </ul>
   
  </section>
  
  <header>
	<h2>Viewing Reports</h2>
  </header>
  <section class="clearfix">
	<p>The MyGHR Patient Account offers three reports that are designed to help you better manage your disease. Once you are logged into your MyGHR Account, you will see a tab on the left side of the screen named MyGHR Reports. By clicking on the MyGHR Reports tab, you will be able to view the three reports: Logbook, Test History and Target Range Outcome. You can select the report you would like to see.</p>
    <ul id="tutorial2" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/MyReports-1.jpg"><img src="/static/images/tutorial/MyReports-1-thumb.jpg" /></a></li>
                <li><a class="tutorialPic" href="/static/images/tutorial/MyReports-2.jpg"><img src="/static/images/tutorial/MyReports-2-thumb.jpg" /></a></li>
                <li><a class="tutorialPic" href="/static/images/tutorial/MyReports-3.jpg"><img src="/static/images/tutorial/MyReports-3-thumb.jpg" /></a></li>
                <li><a class="tutorialPic" href="/static/images/tutorial/MyReports-4.jpg"><img src="/static/images/tutorial/MyReports-4-thumb.jpg" /></a></li>
                <li><a class="tutorialPic" href="/static/images/tutorial/MyReports-5.jpg"><img src="/static/images/tutorial/MyReports-5-thumb.jpg" /></a></li>
                
    </ul>
  </section>
  
  <header>
    	<h2>Printing Reports</h2>
  </header>
  <section class="clearfix">
  	<p>The MyGHR reports can be printed and shared with caregivers by clicking on the "Print This Page" button. You can also save reports as a PDF.</p>
    <ul id="tutorial3" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/PrintReports-1.jpg"><img src="/static/images/tutorial/PrintReports-1-thumb.jpg" /></a></li>
                               
    </ul>
  </section>
  </section>
  
  <header>
    	<h2>Setting your personal Target Range</h2>
  </header>
  <section class="clearfix">
  	<p>Once you are logged in to your MyGHR Patient Account, you can personalize your target range by clicking on the My Health Targets tab and inputting your target range. The MyGHR Patient Account sets a default target range of 90-120.</p>
    <ul id="tutorial4" class="display-inline leading clearfix">
                <li><a class="tutorialPic" class="tutorialPic" href="/static/images/tutorial/HealthTargets-1.jpg"><img src="/static/images/tutorial/HealthTargets-1-thumb.jpg" /></a></li>
                               
    </ul>
  </section>
  
  <header>
    	<h2>Setting up text message and email alerts</h2>
  </header>
  <section class="clearfix">
  	<p>The MyGHR Patient Account can send an alert of each reading by text message to any mobile phone or by email to any email account. To set up these alerts, click on the  My Alerts tab.</p>
    <ul id="tutorial5" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/MyAlerts-1.jpg"><img src="/static/images/tutorial/MyAlerts-1-thumb.jpg" /></a></li>
    </ul>
    <p>Once you click on My Alerts, enter the name of the person you want to receive the alerts, along with the relevant mobile phone number, and/or email address, and click the "Submit" button. The information you submit will appear on a list on the My Alerts page. If a phone number and email are provided for the same person, reading results will be sent by text and email.</p>
    <ul id="tutorial6" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/MyAlerts-2.jpg"><img src="/static/images/tutorial/MyAlerts-2-thumb.jpg" /></a></li>
    </ul>
    
  </section>
  
  <header>
    	<h2>Editing your account profile</h2>
  </header>
  <section class="clearfix">
  	<p>To edit your profile information, click on the My Account tab...</p>
    <p>After clicking on the My Account tab, click on the Profile Information tab. Here you can edit profile information. You can also view your meter information on this page. By clicking on Login Info, you can change your username, or password. All changes made to the account will be saved by clicking the "Submit" button.</p>
    <ul id="tutorial7" class="display-inline leading clearfix">
                <li><a class="tutorialPic" href="/static/images/tutorial/MyAccount-1.jpg"><img src="/static/images/tutorial/MyAccount-1-thumb.jpg" /></a></li>
    </ul>
    
  </section>
  
  
  
</div>
</div>



