{% extends "base.html" %}

{% block pageTitle %}Forgot Your Password{% endblock %}

{% block main_content %}
    {% if contact == 'email' %}
        <h3>Please check your email</h3>
        <p> 
            A link to reset your password has been sent to: <b>{{ form.cleaned_data.username }}</b>
        </p>
        <p>
            If you don't receive an email shortly, check your 'junk email' folder.
        </p>
    {% else %}
        {% if contact == 'phone' %}
            <p>Your password has been reset. You can now <a href="{% url 'accounts:login' %}">log in</a>.</p>
        {% endif %}
    {% endif %}
        <a href="/" class="button">Back</a>
{% endblock %}
