<h3>Select Products</h3>
<div id="product-form">
    <table>
        <thead>
            <tr style="">
                <td>Product</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td><input type="input" style="width: 3ch" maxlength="2" data-product-id="{{ product.id }}" class="product-quantity" value="0"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<input type="hidden" name="{{ widget.name }}" id="id_{{ widget.name }}">
<hr>