{% extends "logs/base_audit.html" %}

{% block pageTitle %}Control Solution Report{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
table.solution-report td {
    padding: 10px;
    border: 1px solid;
}
</style>
{% endblock %}

{% block audit_content %}
<p><a target="_blank" href="{% url "logs:audit-control-report-print" %}?start_date={{ start_date|date:"m/d/y" }}&end_date={{ end_date|date:"m/d/y" }}">Print</a></p>
<p><a target="_blank" href="{% url "logs:audit-control-report-pdf" %}?start_date={{ start_date|date:"m/d/y" }}&end_date={{ end_date|date:"m/d/y" }}">PDF</a></p>
    <table class="solution-report">
        <thead>
            <tr>
                <td>MEID</td>
                <td>Count</td>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry.device__meid }}</td>
                <td>{{ entry.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}